- name: Install nginx and prometheus-nginx-exporter
  ansible.builtin.apt:
    name: 
      - nginx
      - prometheus-nginx-exporter
    state: present

- name: Copy nginx config into default
  ansible.builtin.template:
    src: default.j2
    dest: /etc/nginx/sites-enabled/default
    mode: '0644'
  notify: 
    - Restart nginx 
    - Restart nginx prometheus exporter

- name: Flush handlers to apply configuration
  ansible.builtin.meta: flush_handlers

- name: Startup nginx and prometheus-nginx-exporter on boot
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - nginx
    - prometheus-nginx-exporter