- name: Install uWSGi
  ansible.builtin.apt:
    name: 
      - uwsgi
      - uwsgi-plugin-python3
    state: present

- name: Create uWSGI directory
  ansible.builtin.file:
    path: /etc/uwsgi/apps-enabled
    state: directory

- name: Create uWSGI config
  ansible.builtin.template:
    dest: /etc/uwsgi/apps-enabled/agama.ini
    src: agama.ini.j2
    owner: agama
    mode: '0600'
  no_log: false
  notify: Restart uwsgi

- name: uWSGI service
  ansible.builtin.service:
    name: uwsgi
    state: started
    enabled: true