---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Restart bind9
  ansible.builtin.service:
    name: bind9
    state: restarted

- name: Reload bind9
  ansible.builtin.command: rndc reload
  changed_when: true

- name: Restart bind9-exporter
  ansible.builtin.service:
    name: bind_exporter
    state: restarted
