{% if inventory_hostname == mysql_backup_host %}
50 21 * * * backup mysqldump agama > /home/backup/mysql/agama.sql
00 22 * * * backup duplicity --no-encryption full /home/backup/mysql/ rsync://serobon@backup/mysql
{% endif %}