- name: Install mysql-server
  ansible.builtin.apt:
    name: mysql-server
    state: present

- name: Install python3-pymysql
  ansible.builtin.apt:
    name: python3-pymysql
    state: present

- name: Startup on boot
  ansible.builtin.service:
    name: mysql
    state: started
    enabled: true

- name: MySQL database
  community.mysql.mysql_db:
    name: "{{ mysql_database }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: MySQL user
  community.mysql.mysql_user:
    name: "{{ mysql_user }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    password: "{{ mysql_password }}"
    host: "%"
    priv: "{{ mysql_database }}.*:ALL"

- name: Create config override
  ansible.builtin.copy:
    dest: /etc/mysql/mysql.conf.d/override.cnf
    content: |
      [mysqld]
      bind-address = 0.0.0.0
  notify: Restart mysql

- name: Install prometheus-mysqld-exporter
  ansible.builtin.apt:
    name: prometheus-mysqld-exporter
    state: present

- name: Replace default .my.cnf
  ansible.builtin.template:
    src: .my.cnf.j2
    dest: /var/lib/prometheus/.my.cnf
    owner: prometheus
    group: prometheus
  no_log: true
  notify: Restart mysql exporter

- name: MySQL exporter user
  community.mysql.mysql_user:
    name: "{{ exporter_user }}"
    password: "{{ exporter_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
  no_log: true
  notify: Restart mysql exporter
