apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: fe53z996v9j40a
    url: http://prometheus/prometheus
    editable: false
  - name: influxdb:agamadb
    type: influxdb
    access: proxy
    uid: de5w7dnxbck5cc
    url: http://influxdb:8086
    jsonData:
      dbName: agamadb
  - name: influxdb:telegraf
    type: influxdb
    access: proxy
    uid: ae60d96ojirr4d
    url: http://influxdb:8086
    jsonData:
      dbName: telegraf