zone "{{ domain_name }}." {
{% if inventory_hostname in groups['dns_primary'] %}
    type primary;
    allow-transfer {key transfer.key;};
    allow-update {key nsupdate.key;};
{% else %}
    type secondary;
    masters {
{% for vm in groups ['dns_primary'] %}
    {{hostvars[vm]['ansible_default_ipv4']['address']}};
{% endfor %}
    };
{% endif %}

file "db.{{ domain_name }}";
};

{% if inventory_hostname in groups ['dns_secondary'] %}
{% for primary in groups['dns_primary'] %}
server {{hostvars[primary]['ansible_default_ipv4']['address'] }} {
    keys {transfer.key;};
};
{% endfor %}
{% endif %}
