acl allowed_networks {
    {% for n in networks %}
    {{ n }};
    {% endfor %}
    {{ docker_inet }};
};

options {
    directory "/var/cache/bind";

    forwarders { 
        {% for n in dns_forwarders %}
        {{ n }};
        {% endfor %}
    };

    allow-query { allowed_networks; };

    dnssec-validation no;
    recursion yes;
    empty-zones-enable yes;
};

statistics-channels {
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ transfer_key }}";
};

key "nsupdate.key" {
	algorithm hmac-sha256;
	secret "{{ nsupdate_key }}";
};
