zone "{{ domain_name }}" {
    {% if inventory_hostname in groups['dns_primary'] %}
        type primary;
        allow-transfer {key transfer.key;};
        allow-update {key nsupdate.key;};
        file "/var/cache/bind/db.{{ domain_name }}";
    {% else %}
        type secondary;
        masters { 
            {% for vm in groups['dns_primary'] %}
                {{ hostvars[vm]['ansible_default_ipv4']['address'] }};
            {% endfor %}
            };
        file "/var/cache/bind/db.{{ domain_name }}";
    {% endif %}
};

{% if inventory_hostname in groups ['dns_secondary'] %}
    {% for primary in groups['dns_primary'] %}
        server {{hostvars[primary]['ansible_default_ipv4']['address'] }} {
            keys {transfer.key;};
        };
    {% endfor %}
{% endif %}

zone "168.192.in-addr.arpa" {
    {% if inventory_hostname in groups['dns_primary'] %}
        type primary;
        allow-transfer {key transfer.key;};
        allow-update {key nsupdate.key;};
        file "/var/cache/bind/rev.db.{{ domain_name }}";
    {% else %}
        type secondary;
        masters { 
            {% for vm in groups['dns_primary'] %}
                {{ hostvars[vm]['ansible_default_ipv4']['address'] }};
            {% endfor %}
            };
        file "/var/cache/bind/rev.db.{{ domain_name }}";
    {% endif %}
};
