- name: Update APT cache
  ansible.builtin.apt:
    cache_valid_time: 86400

- name: Install Prometheus node exporters
  ansible.builtin.apt:
    name: prometheus-node-exporter
    state: present
    
- name: Template rsyslog config
  ansible.builtin.template:
    src: rsyslog.conf
    dest: /etc/rsyslog.d/50-telegraf.conf
    mode: '0644'
  notify: Restart rsyslog

- name: Make user 'backup' with SSH
  ansible.builtin.user:
    name: backup
    state: present
    home: /home/backup
    shell: /bin/bash
    generate_ssh_key: true

- name: Template backup
  ansible.builtin.template:
    src: backup_known_host.j2
    dest: /home/backup/.ssh/known_hosts
    owner: backup
    group: backup
    mode: '0600'
 
- name: Make /home/backup/restore directory owned by backup
  ansible.builtin.file:
    path: /home/backup/restore
    state: directory
    owner: backup
    group: backup
    mode: '0744'

- name: Install duplicity
  ansible.builtin.apt:
    name: duplicity
    state: present









