global:
  scrape_interval: 6s
  evaluation_interval: 6s

scrape_configs:
  - job_name: prometheus
    metrics_path: '/prometheus/metrics' 
    static_configs:
      - targets: ['localhost:9090']

  - job_name: linux                        
    static_configs:
      - targets: 
        {% for host in groups['all'] -%}
        - {{ host }}:9100
        {% endfor %}

  - job_name: mysql
    static_configs:
      - targets:
        {% for host in groups['db_servers'] -%}
        - db{{ host | replace ('serobon','') }}:9104
        {% endfor %}

  - job_name: bind9
    static_configs:
      - targets:
        {% for host in groups['dns_servers'] -%}
        - ns{{ host | replace ('serobon','') }}:9119
        {% endfor %}

  - job_name: nginx
    static_configs:
      - targets:
        {% for host in groups['web_servers'] -%}
        - www{{ host | replace ('serobon','') }}:9113
        {% endfor %}

  - job_name: influxdb exporter
    static_configs:
      - targets:
        - influxdb:9424

  - job_name: backup
    static_configs:
      - targets: 
        - {{ backup_server }}:9111

  - job_name: keepalived
    static_configs:
      - targets:
        {% for host in groups['keepalived'] -%}
        - lb{{ host | replace ('serobon','') }}:9165
        {% endfor %}

  - job_name: haproxy
    static_configs:
      - targets:
        {% for host in groups['keepalived'] -%}
        - lb{{ host | replace ('serobon','') }}:9101
        {% endfor %}
